body {
	margin: 0%;
	padding: 0%;
	overflow: hidden;

}

#video-grid {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	margin: auto;
	max-height: 90vh;
}

.main {
	height: 100vh;
	display: flex;
}

#main__left {
	/* flex: 0.8; */

	width: 100%;
	display: flex;
	flex-direction: column;
}

/* #main__right {
	display: block;
	flex: 0.2;
	width: 0%;
} */

.main__videos {
	background-color:#1c1e20;
	display: flex;
	flex-direction: column;
	height: 92%;
	justify-content: center;
	align-items: center;
}

.main__controls {
	overflow: hidden;
	/* height:fit-content; */
	display: flex;
	background-color: #1c1e20;
	color:whitesmoke;
	min-height: fit-content;
	height: 8%;
	justify-content: center;

	
}

.main__controls__block {
	display: flex;
	/* background-color: #5f6368; */
	align-items: center;



}

.main__controls__button {
	display: flex;
   
	
	justify-content: center;
	align-items: center;
	padding: 0px 10px;
	/* width: 80px; */
	min-width: fit-content;
	height: 70%;
	width:50%;
	cursor: pointer;
    border-radius: 100%;
	background:#5f6368;
		margin:0 8px;

}


.leave-meeting {
	color: #eb534b;
}

.main__controls__button:hover {
	
background-color:#2f2e31 ;
}

#main__right {
	width: 20%;
	display: none;
	flex-direction: column;
	background-color: #242324;
}

.main__header {
	/* max-width: 100%; */
    display:flex;
	font-size: 5vmin;
	
	max-width: 100%;
}

#main__chat__window {
	height: 80%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y	: auto;
	background-color:white;
	border-radius: 15px;


}

.main__message__container {
	max-height: 10%;
	padding: 1%;
	display: flex;
	position: flex-end;
	max-width: 100%;
}

#chat_message {
	flex-grow: 1;
	background-color: transparent;
	width: 80%;
	border: none;
	color: whitesmoke;
}

.message {
	max-width: 100%;
	
	list-style: none;
}


.send {
	overflow: hidden;
	max-width: 20%;
	max-height: 100%;
	padding: 0%;
		cursor: pointer;
}
.user-container,
.user-video {
	max-width: 100%;
	max-height: 100%;
	align-items: center;
	display: flex;
	padding: 0%;
    background:transparent;
	object-fit: contain;
}
video {
	display: flex;
	width: 100%;
	border: 3px solid #5f6368;
	border-radius:25px;
	overflow: hidden;
	padding:0%;

}
.btn-danger{
background-color: #ea4335
}
#main__chat__window::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}



#main__chat__window::-webkit-scrollbar-thumb {
  background-color:#5f6368;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid;  /* creates padding around scroll thumb */
}

.fr-draggable,
.fr-fic,
.fr-dvb,
.fr-video,
iframe {
  width: 100% !important;
}